#app {
    width: 100%;
}
#projectid, #password {
    display: none;
}
@media only screen and (min-width:768px) {
    #app-details-toggle {
        display: none !important;
    }
    #bill-list {
        max-width: 400px;
    }
}
#newBillButton {
    margin-top: 10px !important;
}
.balancePositive {
    color: green;
}
.balanceNegative {
    color: red;
}
.balance {
    float: right;
    font-weight: bold;
}
.newmemberbutton {
    float: right;
    width: 40px;
}
.newmemberdiv input {
    width: 100%;
}
.newmemberdiv {
    width: 100%;
    padding: 5px 10px 5px 10px;
}
.newmemberdiv,
#addextprojectdiv,
#newprojectdiv {
    display: none;
}
#newprojectdiv label {
    margin: 3px 3px 3px 3px;
    line-height: 32px;
    width: 45%;
    text-align: right;
    float: left;
}
#newprojectdiv input {
    width: 45%;
    float: right;
}
b.memberName, b.memberWeight {
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 104px;
    display: inline-block;
}
.memberNameBalance {
    display: block;
    height: 30px;
}
.memberAvatar img {
    width: 24px;
    height: auto;
    border-radius: 50%;
    margin: 10px 6px 10px 0px;
    cursor: pointer;
}
.memberAvatar .disabledMask {
    display: none;
}
.memberAvatarDisabled .disabledMask {
    display: block;
}
.disabledMask {
    width: 26px;
    height: 26px;
    background-image: url(images/forbidden.svg);
    position: absolute;
    top: 9px;
    left: 43px;
}
.memberAvatar {
    width: 26px;
    height: 44px;
}
.member-list-icon {
    padding: 0 12px 0 5px !important;
}
.billItemDisabledMask {
    display: none;
}
.billItemDisabledMask.disabled {
    display: block;
    width: 105%;
    height: 105%;
    background-image: url(images/forbidden.svg);
    margin: -1px 0 0 -1px;
}
.billItemRepeatMask {
    display: none;
}
.billItemRepeatMask.show {
    display: block;
    width: 16px;
    height: 16px;
    background-image: var(--icon-play-next-000);
    margin: 35px 0 0 -4px;
}

#settlementTable .owerAvatar,
#statsTable .owerAvatar,
#monthlyTable .owerAvatar {
    height: 24px;
    margin: 1px 5px 1px 5px;
}
#settlementTable .owerAvatarDisabled,
#statsTable .owerAvatarDisabled,
#monthlyTable .owerAvatarDisabled {
    margin-left: -23px;
}
.owerAvatar {
    display: inline-block;
    vertical-align: middle;
}
#settlementTable .owerAvatar img,
#statsTable .owerAvatar img,
#monthlyTable .owerAvatar img {
    margin-bottom: 2px;
}
.owerAvatar img {
    width: 24px;
    height: auto;
    border-radius: 50%;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
}
.owerAvatar .disabledMask {
    display: none;
}
.owerAvatarDisabled {
    margin-left: -28px;
}
#statsTable .owerAvatarDisabled .disabledMask,
#monthlyTable .owerAvatarDisabled .disabledMask {
    top: -1px;
}
.owerAvatarDisabled .disabledMask {
    display: inline-block;
    position: relative;
    top: 1px;
    left: 28px;
}


.bill-left select,
.bill-left input {
    /*margin: 0 12px 0 12px;*/
    width: 100%;
}
.bill-form a.icon {
    justify-content: space-between;
    line-height: 44px;
    min-height: 44px;
    padding: 0 12px 0 25px;
}
.bill-left {
    padding: 0px 10px 0px 15px;
    float: left;
    width: 49%;
}
.bill-right {
    float: right;
    width: 49%;
}
.bill-owers label {
    margin-left: 5px;
}
.bill-owers input {
    cursor: pointer;
    /*height: 16px;
    min-height: 16px;*/
    padding: 5px;
    min-height: 0px;
}
.bill-owers input[type=number] {
    display: none;
}
.bill-type,
.bill-owers .numberlabel,
#owerValidate {
    display: none;
}
#owerValidate {
    background-color: #46ba61;
    color: white;
}
.owerAllNoneDiv,
.owerEntry {
    margin-left: 26px;
    margin-right: 00px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.amountinput {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.modehint {
    display: none;
}
.bill-title {
    text-align: center;
    color: white;
}
input[type=number] {
    -moz-appearance: number-input !important;
    -webkit-appearance: initial !important;
}
#monthlyTable,
#settlementTable,
#statsTable {
    width: 95%;
    margin: 20px 20px 20px 20px;
    padding-right: 20px;
}
#monthlyTable {
    display:block;
    overflow: scroll;
}
#monthlyTable th,
#settlementTable th,
#statsTable th {
    font-weight: bold;
    text-align: center;
}
#monthlyTable td,
#settlementTable td:last-child,
#statsTable td {
    text-align: right;
}
#monthlyTable td:first-child,
#settlementTable td,
#statsTable td:first-child {
    text-align: left;
}
#settlementTable,
#statsTable,
#monthlyTable{
    border-spacing: 2px 2px;
}
#settlementTable th,
#settlementTable td,
#statsTable th,
#monthlyTable th {
    border: 1px solid var(--color-border-dark);
    padding: 0px 5px 0px 5px;
}
#settlementTable th span,
#statsTable th span,
#monthlyTable th span {
    display: block;
    max-width: 100px;
    word-wrap: break-word;
    white-space: normal;
}
#mbTitle,
#settlementTitle,
#curTitle,
#catTitle,
#statsTitle {
    text-align: center;
    background-color: var(--color-background-dark);
}
.statTableTitle {
    padding: 0px 0px 0px 20px !important;
}
.undoDeleteBill {
    display: none;
}
#app-settings-content input {
    width: 100%;
}
#app-settings-content button {
    padding: 10px;
    padding-left: 34px;
    background-position: 10px center;
    width: 100%;
    text-align: left;
}
#bill-list > .deleted {
    /*background-color: var(--color-warning);*/
    background-color: var(--color-background-darker);
}
.invisibleMember {
    display: none !important;
}
#app-details-toggle:hover {
    opacity: 1;
}
#app-navigation-toggle:focus {
    opacity: 0.6;
}
#app-navigation-toggle:hover {
    background-color: var(--color-background-darker);
}
#app-details-toggle {
    position: fixed;
    display: inline-block;
    top: 6px;
    left: 44px;
    width: 44px;
    height: 44px;
    z-index: 149;
    background-color: var(--color-background-darker);
    cursor: pointer;
    opacity: 0.6;
    transform: rotate(180deg);
    margin-top: 44px;
}
#billdetail {
    max-width: 65%;
}
#billdetail > h2 {
    padding: 20px 0px 20px 0px;
}
.selectedproject {
    background: var(--color-background-dark, lightgrey);
}
.selectedproject > a {
    font-weight: bold;
}
.selectedbill {
    background-color: var(--color-background-dark) !important;
}
.app-navigation-entry-share {
    display: none;
}
.shareitem input[type=radio] {
    cursor: pointer;
    min-width: 0px;
    min-height: 0px;
    flex: initial;
    margin-left: 0px !important;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    pointer-events:none;
}
.shareinput {
    width: 100%;
}
.icon-cospend {
    background-color: var(--color-main-text);
    padding: 0 !important;
    mask: url(images/app_black.svg) no-repeat;
    mask-size: 18px auto;
    mask-position: center;
    -webkit-mask: url(images/app_black.svg) no-repeat;
    -webkit-mask-size: 18px auto;
    -webkit-mask-position: center;
    min-width: 44px !important;
    min-height: 44px !important;
}
.icon-time {
    background-color: var(--color-main-text);
    padding: 0 !important;
    mask: url(images/time.svg) no-repeat;
    mask-size: 18px auto;
    mask-position: center;
    -webkit-mask: url(images/time.svg) no-repeat;
    -webkit-mask-size: 18px auto;
    -webkit-mask-position: center;
    min-width: 44px !important;
    min-height: 44px !important;
}
.icon-schedule {
    background-color: var(--color-main-text);
    padding: 0 !important;
    mask: url(images/schedule.svg) no-repeat;
    mask-size: 16px auto;
    mask-position: center;
    -webkit-mask: url(images/schedule.svg) no-repeat;
    -webkit-mask-size: 16px auto;
    -webkit-mask-position: center;
    min-width: 44px !important;
    min-height: 44px !important;
}
.icon-currencies {
    background-color: var(--color-main-text);
    padding: 0 !important;
    mask: url(images/currency.svg) no-repeat;
    mask-size: 18px 18px;
    mask-position: center;
    -webkit-mask: url(images/currency.svg) no-repeat;
    -webkit-mask-size: 18px 18px;
    -webkit-mask-position: center;
    min-width: 44px !important;
    min-height: 44px !important;
}
.icon-palette {
    background-color: var(--color-main-text);
    padding: 0 !important;
    mask: url(images/palette.svg) no-repeat;
    mask-size: 18px 18px;
    mask-position: center;
    -webkit-mask: url(images/palette.svg) no-repeat;
    -webkit-mask-size: 18px 18px;
    -webkit-mask-position: center;
    min-width: 44px !important;
    min-height: 44px !important;
}
.icon-reimburse {
    background-color: var(--color-main-text);
    padding: 0 !important;
    mask: url(images/reimburse.svg) no-repeat;
    mask-size: 18px 18px;
    mask-position: center;
    -webkit-mask: url(images/reimburse.svg) no-repeat;
    -webkit-mask-size: 18px 18px;
    -webkit-mask-position: center;
    min-width: 44px !important;
    min-height: 44px !important;
}
.icon-save {
    background-color: var(--color-main-text);
    padding: 0 !important;
    mask: url(images/save.svg) no-repeat;
    mask-size: 18px 18px;
    mask-position: center;
    -webkit-mask: url(images/save.svg) no-repeat;
    -webkit-mask-size: 18px 18px;
    -webkit-mask-position: center;
    min-width: 44px !important;
    min-height: 44px !important;
}
#settlementTitle .icon-reimburse,
#billdetail .icon-cospend,
#billdetail .icon-time,
#billdetail .icon-currencies {
    min-width: 23px !important;
    min-height: 23px !important;
    vertical-align: middle;
}
.icon-shar {
    background-color: var(--color-main-text) !important;
    mask: url(images/shar.svg) no-repeat;
    mask-size: 16px 16px;
    mask-position: center;
    -webkit-mask: url(images/shar.svg) no-repeat;
    -webkit-mask-size: 16px 16px;
    -webkit-mask-position: center;
}
.accesslevelActive {
    background-color: var(--color-success);
}
.deleteGroupShareButton,
.deleteCircleShareButton,
.deleteUserShareButton,
.accesslevel, .accesslevelguest {
    height: 25px;
}
.accesslevel, .accesslevelguest {
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 20%;
    cursor: pointer;
}
.accesslevel, .accesslevelguest,
.deleteGroupShareButton,
.deleteCircleShareButton,
.deleteUserShareButton {
    float: right;
    padding-left: 12px;
    padding-right: 12px;
}
.deleteUserShareButton {
    border: 1px solid var(--color-text-lighter);
    border-radius: 20%;
}
.guestaccesslevel {
    margin-top: auto;
    margin-bottom: auto;
}
.share-icon-circle {
    background-image: var(--icon-circles-circles-000);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 0px 8px;
}
.loading-bill {
    margin-left: 10px;
    margin-right: 10px;
}
.nobill {
    text-align: center;
    color: var(--color-text-lighter);
}
#billdetail h2 span[class^=icon-] {
    display: inline-block;
    width: 30px;
}
#addFileLinkButton {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#dummylogo {
    display: none;
    content: url("images/cospend.png");
}
#mbUrlHintLabel,
#mbUrlLabel {
    display: block;
    text-align: center;
}
#qrcodediv {
    width: 210px;
    margin: 0 auto;
}
.activeButton {
    background: var(--color-background-darker);
}
.memberitem > a {
    opacity: 1 !important;
}
.shareCompleteIcon {
    background-color: inherit;
    border: 0px;
    height: 35px;
    padding-top: 13px;
}
.shareCompleteLink {
    line-height: 35px;
}
.ui-autocomplete {
    z-index: 9999 !important;
}
.app-navigation-entry-share {
    background-color: var(--color-background-darker);
}
.totalPayedText {
    margin: 0px 20px 0px 20px;
}
.autoexportSelect {
    width: 50%;
}
.autoexportLabel {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.autoexportProject {
    display: flex !important;
    align-items: center !important;
}
.member-list-disabled-icon {
    display: inline-block;
    height: 44px;
}
a.billitem .app-content-list-item-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#manage-categories,
#manage-currencies {
    margin-left: 20px;
}
#manage-categories .icon,
#manage-currencies .icon {
    line-height: 44px;
    padding: 0 12px 0 25px;
}
#manage-currencies .icon-currencies {
    display: inline-block;
    padding: 0 12px 0 25px !important;
}
#manage-categories input[type=submit],
#manage-currencies input[type=submit] {
    width: 36px !important;
}
#stats-filters {
    margin-left: 20px;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
}
#stats-filters select {
    width: 130px;
}
#stats-filters label {
    line-height: 40px;
}
#billtype {
    max-width: 95%;
}
#set-output-div {
    display: flex;
    align-items: center;
    /*height: 50px;*/
}
#set-output-div label {
    word-wrap: anywhere;
    text-align: center;
    width: 40%;
}
#set-output-div button {
    width: 60%;
}
#memberPolarChart,
#categoryMemberChart,
#memberChart,
#categoryChart {
    width: 49%;
    margin: 0 20px 0 20px;
}
#categoryMemberSelect,
#memberPolarSelect {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#membercolorinput {
    opacity: 0;
    width: 0px;
    height: 0px;
    min-height: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.editCategoryIconInput {
    width: 130px !important;
}
#main-currency-edit,
.one-category-edit,
.one-currency-edit {
    display: none;
}
#category-list,
#add-category,
#currency-list,
#main-currency-edit,
#add-currency,
#main-currency-label {
    margin-left: 37px;
}
#main-currency-label {
    width: 160px;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}
#add-category {
    display: grid;
    grid-template: 1fr / 250px 130px;
}
#add-currency {
    display: grid;
    grid-template: 1fr / 250px 100px;
}
.one-category-edit {
    width: 400px;
}
.one-category-edit,
.one-currency-edit {
    grid-template: 1fr / 1fr 1fr;
    background-color: var(--color-background-dark);
}
#main-currency-label-label,
.one-category-edit label,
#add-category label,
.one-category-label label,
.one-currency-edit label,
#add-currency label,
.one-currency-label label {
    line-height: 40px;
}
.one-category-label input[type=submit],
.one-currency-label input[type=submit] {
    border-radius: 0 !important;
    width: 36px !important;
}
.one-category-label {
    display: grid;
    grid-template: 1fr / 30px 150px 150px 37px 37px;
}
#main-currency-edit {
    grid-template: 1fr / 150px 37px 37px;
}
.editMainCurrencyInput {
    width: 96%;
}
.one-currency-label {
    display: grid;
    grid-template: 1fr / 150px 37px 37px;
}
#main-currency-edit input[type=submit] {
    margin-left: -5px;
    border-radius: 0;
    width: 36px !important;
}
.guest-link-label {
    max-width: 45%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.bill-date,
.bill-payment-mode,
.bill-category,
.bill-time,
.bill-repeat,
.bill-repeat-until,
.bill-payer,
.bill-amount,
.bill-currency-convert,
.bill-what {
    display: grid;
    grid-template: 1fr / 5fr 7fr;
}
.bill-repeat,
.bill-payer,
.bill-date,
.bill-payment-mode,
.bill-amount {
    margin-top: 25px;
}
.bill-amount .icon-cospend,
.bill-time .icon-time,
.bill-currency-convert .icon-currencies {
    display: inline-block;
    padding-left: 34px !important;
}
.bill-amount label,
.bill-time label,
.bill-currency-convert label {
    padding-top: 10px;
}
.bill-repeat-include {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 8px;
}
.exportStats span,
.exportSettlement span {
    min-height: 16px !important;
    min-width: 16px !important;
}